.label-title {
  color: #81878c;
  margin-bottom: 10px;
}

.mid-icon {
  font-size: 12px;
  vertical-align: middle;
  margin-right: 5px;
  border: 1px solid #c8cbd9;
  border-radius: 50%;
  padding: 3px;
}

.mid-title {
  font: bold 14.5px 'Open Sans', sans-serif;
  vertical-align: middle;
  letter-spacing: 0.5px;
}

.input {
  margin-left: 5px;
  border: 1px solid #c8cbd9;
  box-sizing: border-box;
  /* height: 38px; */
  padding: 7px 12px;
  /* width: 15rem; */
  width: 100%;
  /* min-width: 10rem; */
  border-radius: 4px;
  outline: none;
  line-height: 38px;
  font: normal 16px 'Open Sans', sans-serif;
}

.input:focus {
  border: 2px solid #2684ff;
}

.input-select {
  width: 100%;
  margin-left: 5px;
  transition: width 0.5s;
}

/* .label-input {
  width: 49%;
} */

input[type='file'] {
  color: #83889c;
}

.required {
  color: red;
}

.allinputfield {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px 40px;
}

.content-section {
  margin: 0 40px;
}

.content-section.custom-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 40px;
}

.custom-width .textarea {
  resize: none;
}

@media only screen and (max-width: 1350px) {
  .allinputfield {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 850px) {
  .allinputfield {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
