/* Navbar styling */
.navigation {
  position: sticky;
  top: 0;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #c8cbd9;
  background-color: #ffffff;
}

/* /* Left section of Navbar styling */
.left-section {
  display: flex;
  justify-content: space-between;
  width: 13rem;
  align-items: center;
}

.left-section .title {
  font: bold 23px 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  color: #5a67ba;
}

.left-section .backbtn {
  font-size: 25px;
  cursor: pointer;
  color: #141414;
  display: flex;
  align-items: center;
}
/* /* Left section of Navbar styling END*/

/* /* RIght section of Navbar styling Start*/

.right-section {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  width: 11rem;
  align-items: center;
}

.right-section .profile-image {
  width: 40px;
  height: 45px;
  border-radius: 50%;
}

.user-name {
  display: flex;
  font: bold 16px 'Poppins', sans-serif;
  letter-spacing: 0.5px;
}

.notification__icon,
.arrow {
  font-size: 25px;
  cursor: pointer;
  /* color: #b0c3cc; */
}

.notification__symbol {
  width: 10px;
  height: 10px;
  background-color: #ec5252;
  border-radius: 50%;
  position: relative;
  left: 15px;
  top: 7px;
}

.menu {
  position: absolute;
  left: 89.5%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  width: 8rem;
}

.menu.inactive {
  visibility: hidden;
  transition: visibility 0.1s;
}

.menu.active {
  visibility: visible;
  transition: visibility 0.5s;
}

.menu .menu-icon {
  vertical-align: middle;
  font-size: 18px;
  margin-right: 10px;
  color: #a6abc8;
}

.menu .menu-link {
  text-decoration: none;
  color: #273240;
}
