@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fc;
}

li {
  list-style-type: none;
  padding: 8px 0;
  font: normal 15px 'Poppins', sans-serif;
}

/* Sidemenu STyling */
.sidemenu {
  position: fixed;
  background-color: #f1f2f7;
  width: 11.5rem;
  height: calc(100vh - 100px);
  padding: 20px 30px;
  left: -15rem;
  transition: all 0.5s;
  overflow-y: auto;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
}

/* Custom ScrollBar */
.sidemenu::-webkit-scrollbar {
  width: 20px;
}

.sidemenu::-webkit-scrollbar-track {
  background-color: transparent;
}

.sidemenu::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.sidemenu::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/* Custom Scrollbar End*/

.sidemenu.active {
  left: 0;
}

/* Submenu of SIdebar STyling */
.submenu {
  padding-left: 20px;
  box-sizing: border-box;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.submenu {
  margin: 10px 0;
  border-left: 2px solid #5a6acf;
}

.submenu.collapse {
  margin: 0;
}

.submenu.active {
  max-height: 200px;
  transition: max-height 1s ease-in-out;
}

/* Submenu styling end  */



.active-link {
  color: #5a6acf;
  border-radius: 5px;
}

.linktext {
  text-decoration: none;
}

.active-sublink {
  background-color: rgba(112, 127, 221, 0.1);
  padding: 5px;
}

.inactive-link {
  color: black;
}

.submenuitems {
  display: grid;
  grid-template-columns: 2rem auto 0.9rem;
  line-height: 20px;
}

.submenuitems .icon {
  line-height: 24px;
}

.submenuitems .submenuicon {
  line-height: 24px;
}
