@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.cards {
  /* min-width: 15rem; */
  height: 9rem;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.name-details .number {
  font: bold 35px 'Open Sans', sans-serif;
  letter-spacing: 0.5px;
}

.name-details .name {
  font: normal 18px 'Open Sans', sans-serif;
  letter-spacing: 0.5px;
}

.card-icons {
  font-weight: 900;
  font-size: 70px;
  display: flex;
  align-items: center;
}

/*Dashboard Element */
.cardelement {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
}

.card-section {
  margin: 40px 0;
  font: normal 16px 'Open Sans', sans-serif;
  /* width: 15rem; */
  /* width: fit-content; */
  padding-bottom: 30px;
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.card-section .heading {
  padding: 15px;
  border-bottom: 0.7px solid #c8cbd9;
  width: auto;
}

.title-icon {
  margin-right: 10px;
  vertical-align: middle;
}

.title {
  font-weight: bold;
}

/* Announcement Section in Dashboadr  */

.content-section {
  margin: 0 40px;
}

.content-section.custom-content {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.custom-width .custom-input {
  width: 500px;
  margin-bottom: 20px;
  margin-right: 30px;
  transition: width 0.5s;
}

.custom-width .textarea {
  resize: none;
}

.mid-content {
  margin-top: 30px;
}

.new-announcement {
  border-bottom: 0.7px solid #c8cbd9;
  padding-bottom: 20px;
  text-align: justify;
  text-justify: inter-word;
}

.morebutton {
  width: 6rem;
  position: relative;
  /* left: 50%; */
  /* top: -15px; */
  /* transform: translate(-50%); */
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  background-color: #009ddc;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.morebutton:hover {
  background-color: #1b90be;
}

.load-more {
  text-decoration: none;
  color: white;
  margin: 5px;
}

.btn {
  border: none;
  color: white;
  font: normal 16px 'Poppins', sans-serif;
}

@media only screen and (max-width: 1350px) {
  .cardelement {
    grid-template-columns: repeat(2, auto);
  }

  .custom-width .custom-input {
    width: 420px;
    transition: width 0.5s;
  }
}

@media only screen and (max-width: 1250px) {
  .cardelement {
    grid-template-columns: repeat(2, auto);
  }

  .custom-width .custom-input {
    width: 300px;
    transition: width 0.5s;
  }
}

@media only screen and (max-width: 800px) {
  .cardelement {
    grid-template-columns: repeat(1, auto);
  }

  .custom-content {
    grid-template-columns: repeat(1, auto);
  }
}
