@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: PoppinsBold;
  src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: Open-Sans;
  src: url(../assets/fonts/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: RobotoBold;
  src: url(../assets/fonts/RobotoCondensed/RobotoCondensed-Bold.ttf);
}

/* Main Container */
.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  margin: auto;
}

#logo img {
  width: 27rem;
  height: 26rem;
  position: relative;
  /* left: 35px; */
}

#forms {
  background: #ffffff;
  height: 37rem;
  width: 30rem;

  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

#forms img {
  padding-top: 1.2rem;
}

#forms .form_input {
  padding-left: 2.5rem;
}

.information {
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
}

.information #welcome-info {
  font-size: 12px;
  margin-bottom: 3px;
}

.information #login-message {
  font-size: 18px;
  font-weight: bold;
}

/* Input Fields */
.input-field {
  margin: 1.2rem auto;
}

.input-field label {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-bottom: 0.75rem;
}

.input-field input {
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 5px;
  height: 2.5rem;
  width: 90%;
  padding-left: 12px;
  font-size: 14px;
}

.input-field input::placeholder {
  font-size: 13px;
  color: #989292;
  font-family: "Poppins", sans-serif;
}

.password input::placeholder {
  margin-top: 2px;
}

.password .icons {
  position: relative;
  right: 1.5rem;
  font-size: 0.8rem;
  cursor: pointer;
}

.section {
  display: flex;
  justify-content: space-between;
  margin-right: 3rem;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

.section__remember input {
  margin-right: 5px;
}

.section__remember label,
.section__forget {
  position: relative;
  bottom: 2.5px;
}

.links {
  text-decoration: none;
  color: #6358dc;
}

.links:hover {
  color: #4d44ad;
}

.login__btn {
  width: 90%;
  margin: 20px auto;
  padding: 10px 0;
  font-size: 16px;
  font-family: Poppins;
  color: white;
  background-color: #6358dc;
  cursor: pointer;
  border: none;
}

.login__btn:hover {
  background-color: #4d44ad;
}

.account {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

@media screen and (max-width: 1050px) {
  #main {
    display: inline-block;
  }

  #logo {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  #forms {
    width: 20rem;
  }

  #forms .image-container {
    text-align: center;
  }

  #forms .form_input {
    padding-left: 1.5rem;
  }

  #forms img {
    width: 17rem;
  }
}
