table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: 'Open Sans';
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

table td {
  padding: 12px 15px;
  border: 1px solid #dee2e6;
}

table th {
  padding: 15px;
  border-right: 1px solid #396b9d;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
  transition: background-color 0.5s;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

table tbody tr:hover {
  color: #212529;
  background-color: #dee2e6;
  transition: background-color 0.5s;
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
}

.btn-custom {
  padding: 4px 6px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-1 {
  margin-right: 10px;
}
