.horizontal-container {
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 768px) {
  .horizontal-container {
    width: 500px;
  }
}

.row {
  margin-top: 60px;
}

.reset-message {
  color: #00529b;
  background-color: #bde5f8;
  width: auto !important;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 20px;
}

/* Form CSS */
.horizontal-container .horizontal-form-box {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  /* height: 466px; */
  padding: 30px;
}
.horizontal-container .horizontal-info-container {
  text-align: center;
}

.horizontal-container .horizontal-info-container img {
  height: 75px;
  margin-bottom: 20px;
}
.horizontal-container .horizontal-heading {
  color: #000;
  font-size: 22px;
  font-weight: bold;
  text-transform: capitalize;
}
.horizontal-container .horizontal-subtitle {
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-align: left;
  margin-top: 10px;
  font-size: 14px;
}

.horizontal-form .o3-form-group {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.horizontal-form .o3-form-group label {
  margin-bottom: 9px;
}

.horizontal-form .o3-form-group .custom_pass {
  margin-bottom: 20px;
}
