.toggle-switch {
  position: relative;
  margin-right: 10px;
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.toggle-switch-checkbox {
  display: none;
}
.toggle-switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 20px;
  margin: 0;
}
.toggle-switch-label:focus {
  outline: none;
}
.toggle-switch-label:focus > span {
  box-shadow: 0 0 2px 5px red;
}
.toggle-switch-label > span:focus {
  outline: none;
}
.toggle-switch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.toggle-switch-inner:before,
.toggle-switch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 24px;
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}
.toggle-switch-inner:before {
  content: attr(data-true);
  text-transform: uppercase;
  padding-left: 10px;
  background-color: #2f855a;
  color: #fff;
}

.toggle-switch-inner:after {
  content: attr(data-false);
  text-transform: uppercase;
  padding-right: 10px;
  background-color: #bbb;
  color: #fff;
  text-align: right;
}
.toggle-switch-switch {
  display: block;
  width: 20px;
  margin: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 24px;
  /* Change right, width, margin  */
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
  margin-left: 0;
}
.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
  right: 0px;
}
